[submodule "deps/nextpnr-xilinx"]
	path = deps/nextpnr-xilinx
	url = https://github.com/openXC7/nextpnr-xilinx.git
	branch = router1-const-routing
[submodule "deps/prjxray"]
	path = deps/prjxray
	url = https://github.com/openXC7/prjxray.git
	branch = virtex7-support
[submodule "deps/openFPGALoader"]
	path = deps/openFPGALoader
	url = https://github.com/trabucayre/openFPGALoader.git
