[submodule "deps/nextpnr-xilinx"]
	path = deps/nextpnr-xilinx
	url = git@github.com:openXC7/nextpnr-xilinx.git
	branch = virtex7-support
[submodule "deps/prjxray"]
	path = deps/prjxray
	url = git@github.com:openXC7/prjxray.git
	branch = virtex7-support
[submodule "deps/openFPGALoader"]
	path = deps/openFPGALoader
	url = git@github.com:trabucayre/openFPGALoader.git
[submodule "deps/System-Verilog-suite"]
	path = deps/System-Verilog-suite
	url = git@github.com:jrrk2/System-Verilog-suite.git
